.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 50px;
}

.photograph-header h1{
    font-size: 64px;
    color: #D3573C;
    margin: 0px;
}
.photograph-header .location{
    font-size: 24px;
    color: #901C1C;
    margin: 0;
}

.photograph-header .tagline{
    font-size: 18px;
    color: #525252;
    margin-top: 19px;
}

.fix-box {
    width: 376px;
    position: fixed;
    right: 36px;
    bottom: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    background-color: #DB8876;
    font-weight: 500;
    font-size: 24px;
    
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
/*Filter*/
.filter {
    display: flex;
    margin: 20px 100px;
    font-weight: 700;
    font-size: 18px;
}
.filter button{
    background: #911C1C;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    cursor: pointer; 
}
.filter .filter_button{
    height: 58px;
    padding: 10px;    
    border-radius: 5px;
    margin-left: 25px;          
}
.filter em {
    margin-left: 10px;
}
.filter_modal {  
    display: none;
    position: absolute; 
    left: 198px;  
    background: #911C1C;
    border-radius: 5px; 
    z-index: 2;     
}
.filter_modal hr{
    color: #FFFFFF;
    width: 80%;
}
.filter_modal button{
    padding: 0;
    margin: 20px 10px;    
}
/*photo-gallery*/
.photo-gallery article{
    cursor: pointer;
}
.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px;
    margin-bottom: 65px;    
}
.photo-gallery article {
    margin: 15px 5vw;
    width: 350px;
}
.photo-gallery img, .photo-gallery video {
    width: 350px;
    height: 300px;    
    object-fit: cover;
}
.photo-gallery .subtitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;    
    color: #911C1C;
}
.photo-gallery h2, .photo-gallery button {
    margin: 0;
    font-size: 24px;    
}
.photo-gallery h2 a{
    text-decoration: none;
    color: #911C1C;
}

.photo-gallery .like{
    font-weight: 500;
    white-space: nowrap;    
    transition: all 150ms;
    cursor: pointer;
}
.photo-gallery .like:hover{
    transform: scale(1.05);
}

/*Contact Modal*/
#contact_modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(196, 196, 196, 0.4);
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    padding-top: 0;
    margin: auto;
}

.modal header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 19px;
}

.modal header button {
    background-color: #DB8876;
    border: none;
    margin-top: 35px;
    cursor: pointer;
}

.modal header h2 {
    display: block;
    font-size: 64px;
    font-weight: normal;
    margin: 0;
    margin-top: 14px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input, form textarea {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 36px;
}

form textarea{
    height: 170px;
}

/*Light Box*/

#lightbox_modal{
display: none;
justify-content: center;
align-items: center;
position: fixed;
top: 0;
height: 100vh;
width: 100vw;
background-color: white;
z-index: 2;
}
#lightbox_modal .picture-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;

}
#lightbox_modal img, #lightbox_modal video {
    max-width: 70vw;
    max-height: 85vh;
}
#lightbox_modal h2{
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #911C1C;
    margin-top: 12px;
}
#lightbox_modal em{
    font-size: 48px;
    color: #911C1C;
    cursor: pointer;
}
#lightbox_modal #close-lightbox-button{
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 100px;
    margin-top: 25px;
}
#left-button, #right-button{
    margin: 30px;
}